/* ==========================Header===================== */
.las_header_web{
    position: fixed;
    width:100%;
    top:0px;
    left:0px;
    z-index: 99;
}
.las_header_strip{
    background:#000000;
    align-items: center;
    width:100%;
}
.las_header_strip .row{
    align-items: center;
}
.las_header_strip_left :where(a){
    align-items: center;
    margin: 0px 20px;
}
.las_header_strip_left :where(i){
    margin:0px 5px;
    padding:0px 5px;
    color:#ffffff;
}
.las_header_strip_left :where(p){
    color:#ffffff;
}
.las_header_strip_left_email:hover i,
.las_header_strip_left_email:hover p {
    color: #71AD01;
}
.las_header_strip_left_phone:hover i,
.las_header_strip_left_phone:hover p {
    color: #71AD01;
}
.las_header_strip_right{
    display: flex;
    justify-content: end;
}
.las_header_strip_right :where(a){
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.las_header_strip_right :where(a):hover{
    background-color: #71AD01;
}
.las_header_strip_right :where(i){
    background-color: #ffffff;
    border-radius: 50px;
    color:#000000;
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin: 5px;
}
.las_header_strip_right p{
    color:#ffffff;
}

/* --------------------------- */

.las_header_menu{
    background:#ffffff;
    padding:10px 0px;
    border-bottom: 1px solid #e8e8e8;
}
.las_header_menu .row{
    align-items: center;
}
.las_header_menu_logo img{
    width:50%;
    margin:0px 30px
}
.las_header_menu_list{
    display:flex;
    justify-content: end;
    align-items: center;
}
.las_header_menu_list :where(a){
    padding:10px;
    font-size: 16px;
}
.las_header_menu_list :where(a):hover{
    color: #71AD01 !important;
}

/* ----------------------------- */

.las_header_app{
    display:none;
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 99;
    background:#ffffff;
}
.las_app_menu{
    width:100%;
    display:flex;
    align-items: center;
    padding:10px;
}
.las_app_menu :where(a){
    width:50%;
}
.las_app_menu img{
    width:40%;
}
.las_app_menu i{
    font-size: 24px;
    float: right;
}

/* ----------------------------- */


#Enquiry_Form_Modal img{
    width:15%;
}
.las_enduiry_form .modal{
    --bs-modal-width:1000px;
}
.las_enduiry_form .las_close_btn{
    width:200px !important;
}
.las_ef_contact_widget{
    width:50%;
    margin:0px auto;
}
.las_ef_contact_widget .col-lg-3{
    padding:10px;
}
.las_eq_grid{
    padding:30px;
    transition: 0.5s;

    &:hover{
        box-shadow: 0px 0px 10px #aaaaaa;
        border-radius: 20px;
    }
}
.las_eq_grid p{
    text-align: center;
}
.las_eq_grid img{
    width:70% !important;
    display:flex;
    margin:0px auto;
}

/* ------------------------------ */

.offcanvas{
    width:60% !important;
}
.offcanvas-header{
    border-bottom: 1px solid lightgrey;
}
.offcanvas-body{
    padding:0px !important;
}
.offcanvas ul{
    margin:5px 0px;
    padding:5px 0px;
}
.offcanvas ul li{
    padding: 10px 15px;
    background: #efefef;
    margin: 2px 0px;
}
.offcanvas ul li a{
    font-size: 15px;
}
.offcanvas-body i{
    margin-right:10px;
    font-size: 15px;
}

/* ==========================Hero Section===================== */

.las_hero_section{
    background-image: url('../images/las_home_hero_img.jpg');
    background-attachment: fixed;
    width:100%;
    height:30vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    margin-top:150px;
    display: flex;
    align-items: center;
}
.las_hero_content .las_hero_cnt_p1{
    color:#ffffffd1;
    text-align: center !important;
    font-size: 24px;
    letter-spacing: 2px;
}

/* ==========================about description Section===================== */

.las_about_description{
    padding: 50px 0px;
}
.las_about_description h3{
    text-align: center;
    padding-bottom: 20px;
}
.las_about_description p{
    text-align: center;
    padding:10px 100px;
    line-height: 32px;
}


/* ==========================Staff Section===================== */

.las_staff_sec{
    padding:40px 0px;
    background: #fafafa;
}
.las_staff_sec h3{
    text-align: center;
    padding:20px 0px 50px 0px;
}
.las_staff_grid{
    margin:10px 0px;
    padding:10px 0px;
    background:#ffffff;
    border-radius:10px;
}
.las_staff_grid img{
    width:100%;
    display:flex;
    padding:10px;
    justify-content: center;
    align-items: center;
}
.las_staff_info h4{
    text-align: center;
}
.las_staff_info p{
    text-align: center;
}
.las_testi_sec{
    padding-bottom: 100px;
    background:rgb(243, 243, 243);
}
/* ==========================Testimonial Section===================== */

.las_testi_sec h3{
    text-align: center;
    padding:60px 0px;
}
.las_testimonial{
   width:1000px;
    margin:0px auto;
}
.carousel-inner{
    width:100% !important;
}
.carousel-inner .active{
    border:none !important;
}
.carousel-indicators{
    bottom: -50px !important;
}
.carousel-indicators button {
    opacity: 1;
    background: #777777 !important;
    border: 1px solid #777777 !important;
    border-radius: 10px;
}
.carousel-indicators .active {
    opacity: 1;
    background: #000000 !important;
    border: 1px solid #000000 !important;
}


/* ==========================Footer Section===================== */

.las_footer_sec{
    background:#000000;
    padding:30px 0px;
    margin:10px 0px;
}
.las_footer_logo img{
    width:150px;
    margin-bottom:15px;
}
.las_footer_sec a{
    color: #c5c5c5 !important;
}
.las_footer_cnt{
    padding-right:30px;
}
.las_footer_sec p{
    color: #c5c5c5 !important;
    font-size: 15px !important;
    text-align: justify;
}
.las_footer_sec h4{
    color:#ffffff !important;
}
.las_footer_sec ul{
    margin:10px 0px;
    padding: 0px;
}
.las_footer_sec ul li{
    list-style: none;
    padding:2px 0px;
    margin:2px 0px;
    display:flex;
    align-items: center;
}
.las_footer_sec i {
    font-size: 14px;
    margin-right:10px;
    color:#c5c5c5;
}
.las_footer_QL{
    padding-left:10px;
    margin-left:20px;
}
.las_footer_SM{
    display:flex;
    align-items: center;
    margin-bottom:20px;
    padding-bottom:5px;
}
.las_footer_SM a i{
    font-size: 22px;
    color:#000000;
    margin:0px;
}
.las_footer_SM :where(a){
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
}

.las_footer_SM :where(a):hover{
    background-color: #71AD01;
}


/* ==========================Media Query===================== */

@media only screen and (max-width:800px){
    .las_header_web{
        display:none;
    }
    .las_header_app{
        display:block;
    }
    .las_contact_form_i{
        display:block;
    }
    .las_map_address{
        width:100%;
    }
    .las_contact_form_i form{
        width:100%;
    }
}
@media only screen and (min-width:1001px) and (max-width:1200px){
    .las_testimonial {
        width: 100%;
    }
}
@media only screen and (min-width:801px) and (max-width:1000px){
    .las_header_strip_left :where(a) {
        margin: 0px 2px;
    }
    .las_header_menu_logo img{
        width: 70%;
    }
    .las_header_menu_list :where(a){
        padding:5px;
        font-size: 15px;
    }
    #Enquiry_Form_Modal img{
        width:17%;
    }
    .las_hero_section {
        margin-top: 125px;
    }
    .las_footer_QL {
        padding-left: 0;
        margin-left: 0;
    }
    .las_about_description p {
        padding: 10px 10px;
        line-height: 28px;
    }
    .las_testimonial {
        width: 100%;
    }
}
@media only screen and (min-width:601px) and (max-width:800px){
    #Enquiry_Form_Modal img{
        width:25%;
    }
    .las_enduiry_form .las_close_btn {
        width: 400px !important;
    }
    .las_app_menu img{
        width:30%;
    }
    .las_app_menu i{
        font-size: 26px;
    }
    .las_hero_section {
        height: 20vh;
        margin-top: 80px;
    }
    .las_footer_QL {
        padding-left: 0;
        margin-left: 0;
    }
    .las_about_description p {
        padding: 10px 10px;
        line-height: 26px;
    }
    .las_testimonial {
        width: 100%;
    }
}
@media only screen and (min-width:451px) and (max-width:600px){
    .las_app_menu img{
        width:45%;
    }
    .las_app_menu i{
        font-size: 24px;
    }
    .las_hero_section {
        height: 15vh;
        margin-top: 80px;
    }
    .las_footer_QL {
        padding-left: 0;
        margin-left: 0;
    }
    .las_about_description p {
        padding: 10px 10px;
        line-height: 24px;
    }
    .las_testimonial {
        width: 100%;
    }
}
@media only screen  and (max-width:450px){
    .las_app_menu i{
        font-size: 24px;
    }
    .las_app_menu img{
        width:55%;
    }
    .las_hero_section {
        height: 15vh;
        margin-top: 80px;
    }
    .las_footer_QL {
        padding-left: 0;
        margin-left: 0;
    }   
    .las_about_description p {
        padding: 10px 10px;
        line-height: 24px;
    }
    .las_testimonial {
        width: 100%;
    }
}
