@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Poppins';
}

.active{
  color: #71AD01 !important;
  border: 1px solid #71AD01;
  border-style: dashed;
  background:#ffffff !important;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.las_p{
    font-size: 16px;
    margin:5px 0px;
    color:#525252;
    padding:5px 0px;
}

.las_h{
    margin:5px 0px;
    padding:5px 0px;
}

.las_btn1{
    width:130px;
    height:45px;
    border-radius: 50px;
    border:1.5px solid black;
    color:#000000;
    transition: .5s;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
}

.las_btn1:hover,
.las_btn1:active,
.las_btn1:focus{
  background-image: linear-gradient(to bottom right, #9ACD15, #54A006);
  border:none;
  color:#ffffff;
}

.las_btn2{
  background-image: linear-gradient(to bottom right, #9ACD15, #54A006);
  width:130px;
  height:45px;
  border-radius: 50px;
  border:none;
  color:#ffffff;
  transition: .5s;
  font-size: 14px;
  font-weight: 600;
}

.las_btn2:hover,
.las_btn2:active,
.las_btn2:focus{
  background-image: linear-gradient(to bottom right, #54A006, #9ACD15);
  border:none;
  color:#ffffff;
}

.las_btn3{
  background-color: transparent;
  width:130px;
  height:45px;
  border-radius: 50px;
  border:2px solid #ffffff;
  color:#ffffff;
  transition: .5s;
  font-size: 14px;
  font-weight: 600;
}

.las_btn3:hover,
.las_btn3:active,
.las_btn3:focus{
  background-image: linear-gradient(to bottom right, #54A006, #9ACD15);
  border:none;
  color:#ffffff;
}

a{
    text-decoration: none !important;
    color: #000000 !important;
}

@media only screen and (max-width:600px){
    .las_p{
        font-size: 13px;
    }
}

@media only screen and (min-width:801px) and (max-width:1000px){
    .las_btn1 {
      width: 100px;
      height: 40px;
      border: 1px solid black;
      font-size: 12px;
    }
    .las_btn2 {
      width: 100px;
      height: 40px;
      font-size: 12px;
    }
    .las_btn3 {
      width: 100px;
      height: 40px;
      font-size: 12px;
    }
}

@media only screen and (max-width:800px){
  .las_btn1 {
    width: 90px;
    height: 35px;
    border: 1px solid black;
    font-size: 12px;
  }
  .las_btn2 {
    width: 90px;
    height: 35px;
    font-size: 12px;
  }
  .las_btn3 {
    width: 90px;
    height: 35px;
    font-size: 12px;
  }
}

/* ===================================== */

.las_top_wp_call{
  position: fixed;
  bottom:7%;
  right:0px;
  z-index: 999;
}
.las_top_wp_call_cmn{
  background:#000000;
  padding:5px;
  border-radius: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  margin:10px;
}
.las_top_wp_call_cmn:hover{
  background-image: linear-gradient(to bottom right, #54A006, #9ACD15);
}
.las_top_wp_call :where(i){
  color: #ffffff;
  font-size: 24px;
}

.las_faq_addon_img{
  position: fixed;
  top: 30%;
  right: -7%;
}
.las_faq_addon_img img{
  width:50%;
}

